.profile {
  width: 100%;
  padding: 50px;
  margin: 63px auto;
  position: sticky;
  top: 100px;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 20px !important;
}

.subtitle {
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
  margin-bottom: 20px !important;
}
