.root {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

button {
  a {
    text-decoration: none;
    color: #fff;
    li {
      display: flex;
      justify-content: center;
    }
  }
}

.hamburger,
.profileItems {
  a {
    text-decoration: none;
    color: #000;
    li {
      display: flex;
      justify-content: center;
    }
  }
}
