$blue: #4361ee;

.root {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;

  &:hover {
    border: 1px solid $blue;
    box-shadow: 0 0 0 1px $blue;

    .editButtons {
      opacity: 1;
    }
  }
}

.wrapper {
  padding: 10px 20px 20px;
}

.date {
  font-size: 12px;
  opacity: 0.6;
}

.title {
  font-size: 28px;
  margin: 0;

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      color: $blue;
    }
  }
}

.indention {
  font-size: 14px;

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      color: $blue;
    }
  }
}

.postDetails {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-right: 20px;
    opacity: 0.5;
  }
}

.editButtons {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.deleteButton {
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 0;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  transition: all 0.15s ease-in-out;
}
